<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level %C{1} - %msg%n"/>
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <File name="NamedFile"
            fileName="logs/polypheny-client-${date:MM-dd-HH:mm}-${sys:logFilename}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %level %C{1} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <logger name="io" level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="NamedFile"/>
        </logger>
        <logger name="org" level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="NamedFile"/>
        </logger>
        <logger name="ch" level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="NamedFile"/>
        </logger>
        <logger name="ch.unibas.dmi.dbis.polyphenydb" level="INFO">
        </logger>
        <logger name="ch.unibas.dmi.dbis.chronos" level="DEBUG">
        </logger>
        <Root level="info"/>
    </Loggers>
</Configuration>